---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TypingEffect from "../components/TypingEffect.astro";
import "../styles/global.css";
import "../styles/about.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png" />
    <title>About</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main>
        <section class="intro">
          <TypingEffect texts={["Hello!", "My name is Skye!"]} speed={50} />
        </section>
        <section class="profile">
          <img src="/personal/IMG_4361.PNG" alt="Profile Picture" class="profile-pic"/>
          <div class="bio">
            <h2>About Me</h2>
            <p>Hi, I'm Skye (they/them). Here are a few of my passions:</p>
            <ul>
              <li>Some of my favorite aspects of CS include <u>Machine Learning</u>, <u>Reinforcement Learning</u>, <u>Systems Architecture</u>, and <u>Data Analysis</u>. AI has been a recent joy of mine and it's been exciting to see where it goes next! I love experimenting with a variety of programming languages too, as Gleam has become the next one I'm excited to learn about.</li>
              <br/>
              <li>Neuroscience has been a big passion of mine for many years as the Brain is such a complex and intricate system. Through the psychology of human behavior, to learning about the physical brain through a clinical sense, I've much experience in this field.</li>
              <br/>
              <li>Video games have been apart of my life for over 15 years! I've continued to keep playing and keep up with my favorite franchises along with also experimenting on many new ones. I've developed my own games both for class work and for game jams and wish to continue to do so!</li>
            </ul>
          </div>
        </section>
        <section class="skills">
          <h2>Programming Skills</h2>
          <div class="skill-set">
            <div class="skill">
              <p><u>Java/Kotlin</u></p>
            </div>
            <div class="skill">
              <p><u>Python (Numpy, Scikit-Learn, and Pytorch)</u></p>
            </div>
            <div class="skill">
              <p><u>Javascript/Typescript</u></p>
            </div>
            <div class="skill">
              <p><u>Go</u></p>
            </div>
            <div class="skill">
              <p><u>VSCode</u></p>
            </div>
            <div class="skill">
              <p><u>Linux</u></p>
            </div>
          </div>
        </section>
        <section class="fun-facts">
          <h2>Fun Facts</h2>
          <ul>
            <li>I'm hugely into physical technology and collecting!</li>
            <li>Medieval fantasy is one of my favorite genres, I would be an Ice or Thunder mage.</li>
            <li>My favorite game genres are Turn-Based RPGs and my favorite game is Xenoblade Chronicles 3</li>
          </ul>
        </section>
        <section class="contact">
          <h2>Contact Me</h2>
          <p>If you'd like to get in touch, feel free to connect with me on <a href="https://linkedin.com/in/skye-toral">LinkedIn</a> or on my Twitter or GitHub below!</p>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
