---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ChatComponent from "../components/ChatComponent";
import "../styles/global.css";
import "../styles/chat.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png">
    <title>Chat Room</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main>
          <ChatComponent client:load />
      </main>
      <Footer />
    </div>
  </body>
</html>
