---
import Layout from "../layouts/Layout.astro";
import Connect4 from "../components/Connect4.jsx";
import "../components/Connect4.css";
---

<Layout title="Game">
  <h1>Connect 4 Game</h1>
  <p class="description">
    Welcome to the Connect 4 game! You will play as the red piece and move
    first. Your opponent is an AI, so try your best to outsmart it and connect
    four of your pieces in a row. Good luck!
  </p>
  <Connect4 client:load />
</Layout>