---
import Layout from "../layouts/Layout.astro";
import Connect4 from "../components/Connect4.jsx";
import "../components/Connect4.css";
---

<Layout title="Game">
  <h1>Connect 4 Game</h1>
  <p class="description">
    Welcome to the Connect 4 game! Choose the color you want to play as, then
    pick a difficulty and try to connect four of your pieces in a row. Red still
    opens first, so choosing Yellow means the AI starts.
  </p>
  <Connect4 client:load />
</Layout>
