---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Connect4 from "../components/Connect4.jsx";
import "../styles/global.css";
import "../components/Connect4.css";
---


<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png">
    <title>Game</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main>
        <h1>Connect 4 Game</h1>
        <p class="description">
          Welcome to the Connect 4 game! You will play as the red piece and move first. Your opponent is an AI, so try your best to outsmart it and connect four of your pieces in a row. Good luck!
        </p>
        <Connect4 client:load />
      </main>
      <Footer />
    </div>
  </body>
</html>
