---
import Layout from "../layouts/Layout.astro";
import TypingEffect from "../components/TypingEffect.astro";
import { projects } from "../data/projectData.ts";
---

<Layout title="Projects" mainClass="main-projects">
  <h1>
    <TypingEffect texts={["My Projects"]} speed={80} />
  </h1>
  <section class="projects">
    {
      projects.map((project) => (
        <div class="project">
          <h2>{project.title}</h2>
          <p>{project.description}</p>
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            Check it out!
          </a>
        </div>
      ))
    }
  </section>
  <div class="more-to-come">
    <p>More to come soon!</p>
  </div>
</Layout>