---
import { Site, Navigation } from "../data/sitedata.ts";
import "../styles/header.css";
import "../styles/nav.css";

// If you have props or state, you can define them here
const { title = Site.title} = Astro.props;
---

<header>
  <nav>
    <div class="nav-content">
      <div class="logo-pronouns">
        <a href="/personal" class="logo">{title}</a>
      </div>
      <ul>
        {Navigation.map((item) => (
          <li>
            <a href={item.link}>
              <button class="nav-button">{item.name}</button>
            </a>
          </li>
        ))}
      </ul>
    </div>
    <pre class="ascii-art">
      __
     ( o`-
     /  \
     |  |
      ^^
    </pre>
  </nav>
</header>
